language: python
python:
  - 2.7
  - 3.3
  - 3.4
  - 3.5

sudo: false

addons:
  apt:
    packages:
      - python-numpy

install:
  - pip install nose-cov python-coveralls sphinx
  - pip install -r requirements.txt

script:
  - nosetests

notifications:
 slack: 3point:n4uGopqXrpbYFbslpV5z0tyO
 email: false
